<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings >
    <add name="ConnStr" connectionString="Data Source=172.18.207.92;Initial Catalog=heilandb;User ID=sa;password=myk_123456"/>
  </connectionStrings>

  <appSettings>
    <add key="Title" value="HLA海澜之家RFID智能系统" />
    <add key="LGNUM" value="HL01"/>
    <add key="DeviceNO" value="08F041" />
    
    <!--1:IMP 2:TM-->
    <add key="ReaderType" value="1" />
    <!--1:XD 2:DLX 3:BJ-->
    <add key="PLCType" value="1" />

    <!--1~32.5-->
    <add key="ReaderIP_IMP" value="10.0.0.101" />
    <add key="ReaderPower_IMP" value="28" />
    
    <!--500~3150-->
    <add key="ReaderIP_TM" value="10.0.0.101" />
    <add key="ReaderPower_TM" value="2800" />
    
    <!--10~230-->
    <add key="ReaderPower_DLX_PM" value="50" />
    <add key="ReaderCom_DLX_PM" value="COM3" />
    
    <!--10~325-->
    <add key="ReaderIP_XD_PM" value="10.0.0.101" />
    <add key="ReaderPower_XD_PM" value="280" />

  </appSettings>
</configuration>