<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnStr" connectionString="Data Source=172.18.10.98;Initial Catalog=heilandb_test;User ID=sa;password=xindeco.123456"/>-->
    <!--<add name="ConnStr" connectionString="Data Source=172.18.10.98;Initial Catalog=heilandb;User ID=sa;password=xindeco.123456"/>-->
    <add name="ConnStr" connectionString="Data Source=172.18.10.76;Initial Catalog=heilandb;User ID=sa;password=xindeco.123456"/>
  </connectionStrings>
  <appSettings>
    <add key="Debug" value="true"/>
    <add key="IsTest" value="0"/>
    <!--仓库编号-->
    <add key="LGNUM" value="HL01"/>
    <!-- SAP Test Setting -->
    <add key="appserverhost" value="172.18.200.14"/>
    <add key="systemnumber" value="00"/>
    <add key="user" value="069675"/>
    <add key="password" value="121212"/>
    <add key="client" value="300"/>
    <add key="language" value="zh"/>
    <add key="poolsize" value="5"/>
    <add key="peakconnectionslimit" value="10"/>
    <add key="idletimeout" value="60"/>
    <!-- SAP Setting -->
    <!--<add key="AppServerHost" value="172.18.200.86"/>
    <add key="SystemNumber" value="04"/>
    <add key="User" value="RFC_RFID01"/>
    <add key="Password" value="xinda01"/>
    <add key="Client" value="800"/>
    <add key="Language" value="ZH"/>
    <add key="PoolSize" value="5"/>
    <add key="PeakConnectionsLimit" value="10"/>
    <add key="IdleTimeout" value="60"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
      <conformanceWarnings>
          <remove name='BasicProfile1_1'/>
        </conformanceWarnings>
    </webServices>
    <!--
      通过 <authentication> 节可以配置
      安全身份验证模式，ASP.NET 
      使用该模式来识别来访用户身份。 
    -->
    <authentication mode="Windows"/>
    <!--
       如果在执行请求的过程中出现未处理的错误
       则通过 <customErrors> 节
       可以配置相应的处理步骤。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
</configuration>