<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--读写器IP地址-->
    <add key="ReaderIp" value="10.0.0.101" />
    
    <!--读写器功率 500~3150-->
    <add key="AntennaPower" value="2800" />
    
    <!-- 标签间隔 隔这段时间读不到新标签表明已经读完了-->
    <add key="DelayTime" value="700" />

    <!--PLC端口-->
    <add key="Port" value="COM1" />

    <!--COM串口-->
    <add key="ScannerPort_1" value="COM5" />
    <add key="ScannerPort_2" value="COM6" />

  </appSettings>
</configuration>